body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.Top-section-wrapper {
    background-color: #001D37;
    padding-left: 16px;
    padding-right: 16px;
}

.Top-section {
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: 1066px;
    margin: 0 auto;
    position: relative;
}

.Top-section-actual {
    z-index: 2;
    position: relative;
}

.Top-section h1 {
    font-size: 4rem;
    line-height: 97.3%;
    margin: 0;
    max-width: 525px;
}

.intro-text {
    font-size: 1.25rem;
    line-height: 169.3%;
    margin: 11px 0;
    max-width: 435px;
}

.our-btn {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #475AFF;
    border: 2px solid #475AFF;
    color: #fff;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 1000px;
    transition: background-color 0.3s ease-out, border 0.3s ease-out, color 0.3s ease-out;
}

.our-btn:hover {
    background-color: #2C39AC;
    border: 2px solid #2C39AC;
}

.intro-bottuns {
    margin-bottom: 50px;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid white;
}

.our-btn--outline:hover {
    color: #475AFF;
    background-color: white;
    border: 2px solid white;
}

.utility-mr {
    margin-right: 10px;
}

.intro-feature {
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 33px 25px;
}

.intro-feature p {
    margin: 0;
    font-size: 1.0625rem;
    line-height: 151.8%;
}

.intro-feature h2 {
    font-size: 1.5rem;
    line-height: 97.3%;
    margin: 44px 0 7px 0;
}

.intro-features {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
}

@media screen and (min-width: 580px) {
    .intro-features {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .intro-features {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.circle {
    background-color: #D660FF;
    width: 617px;
    height: 617px;
    border-radius: 50%;
    opacity: 0.85;
    filter: blur(150px);
    position: absolute;
    top: 62px;
    right: -392px;
}

.circle-blue {
    background-color: #6079FF;
    width: 617px;
    height: 617px;
    border-radius: 50%;
    opacity: 0.85;
    filter: blur(150px);
    position: absolute;
    top: -360px;
    left: -121px;
}

.page-section {
    background-color: #fff;
    padding: 70px 16px;
}

.page-section-inner {
    max-width: 1066px;
    margin: 0 auto;
}

.page-section-title {
    font-size: 4rem;
    line-height: 97.3%;
    margin: 0;
}

.pet-filter {
    color: #9F9F9F;
    font-size: 1.15rem;
    margin: 0 0 30px 0;
}

.pet-filter button {
    background-color: transparent;
    border: none;
    font-family: "Source Sans 3", sans-serif;
    color: #9F9F9F;
    font-size: 1.15rem;
    margin: 0;
}

.list-of-pets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    column-gap: 34px;
    row-gap: 16px;
}

.pet-card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 165px 1fr;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.08);
}

.pet-card-text {
    padding: 23px 29px;
}

.pet-card-text h3 {
    margin: 0 0 14px 0;
    font-size: 1.625rem;
    font-weight: 600;
}

.pet-description {
    margin: 0 0 19px 0;
    color: #626262;
    font-size: 0.9rem;
    line-height: 150%;
}

.pet-age {
    margin: 0;
    color: #A2A2A2;
    font-size: 0.85rem;
    line-height: 150%;
}

.pet-card-photo {
    order: 1;
    grid-row: 1;
}

.pet-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-footer p {
    color: #A6A6A6;
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
    padding: 0 0 69px 0;
}

@media screen and (min-width: 600px) {
    .Top-section {
        padding-top: 139px;
        padding-bottom: 139px;
    }

    .Top-section h1 {
        font-size: 6.25rem;
    }

    .intro-bottuns {
        margin-bottom: 129px;
    }

    .page-section {
        padding: 131px 16px;
    }

    .page-section-title {
        font-size: 5.3125rem;
    }

    .pet-filter {
        font-size: 1.375rem;
    }

    .pet-filter button {
        font-size: 1.375rem;
    }

    .list-of-pets {
        row-gap: 28px;
    }

    .pet-description {
        font-size: 1rem;
    }
}